.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 5rem !important;
    &_control {
        margin: 0 1rem;
        border:none;
        background: transparent;
        color:#808080;
        height: 25px;
        width: 25px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        &.active {
            background: #0064EB;
            color:#fff;
            border-radius: 5px;
        }
    }
}